body {

background-color: rgba(230, 250, 46, 0.856);


}

a {

    text-decoration:none;
}


section {

    background-color: rgba(250, 46, 158, 0.856);

}


.lkk{

    background-color: rgba(93, 13, 221, 0.856);

}


#spp{

    background-color: rgba(14, 89, 226, 0.856);
}